<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu_after_form</title>
</head>
<body>

{% block header %}
    <header>
        <nav>
            <div class="logo" align = "center">
                <ul >


                    <li><a href=" {% url 'index' %}#about" class = "contacts"><p>Про компанію_Головна</p></a></li>
                    <li><a href=" {% url 'index' %}#program" class = "contacts"><p>Партнерство</p></a></li>
                    <li><a href=" {% url 'index' %}#poslugi" class = "contacts"><p>Послуги</p></a></li>
                    <li><a href=" {% url 'index' %}#teams" class = "contacts"><p>Фото галерея</p></a></li>
                    <li><a href="{% url 'logforma' %}" class = "contacts"><p>Зробити замовлення</p></a></li>




                </ul>
                <!-- <p>B. Verkin Institute for Low-Temperature Physics and Engineering of NAS of Ukraine</p> -->



            </div>

        </nav>
        <h1></h1>


    </header>
   {% endblock %}

<section id="reviews">


       <p>Дякуємо за замовлення. Наш менеджер зателефонує вам в наближчу годину. Деталі вашого замовлення відправлені вам на Вашу
    поштову скриньку. Ви можете скачати договір оферти та інформацію про замовлення: </p>

    <div class="review">

<button class="button_1">
    <a class="button_1" href="/static/doc/Dogovir.pdf" download target="_blank">Скачати договір оферти</a>
</button>
        <br>
<br>

    </div>

    <div class="review">


<button class="button_1">
    <a class="button_1" href="{{ check_file.file.url}}" download target="_blank">Скачати сформоване замовлення</a>
</button>
        <br>
<br>
    </div>
</section>
</body>
</html>